# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Popular languages for Data Science
* Libraries used by Data Scientists
* Tools for Data Science
* Make arithmetic operations

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (in Python)
2. Scikit-learn (in Python)
3. Seaborn (in Python)
4. Keras
5. ggplot2 (in R)
6. dplyr (in R)

|Data Science Tools|
|:-:|
|GitHub|
|SQL|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60

x = 200
minutes_to_hours = x/60
print(int(minutes_to_hours))

3

In [20]:
# This will convert 200 minutes to hours by diving by 60

x = 200
minutes_to_hours = x/60
minutes_to_hours

3.3333333333333335

## Author:

Samara Shimon

## Author:

Samara Shimon